/tutorial-dist/
/docs/_build
/dist/
__pycache__
.ipynb_checkpoints
*.egg-info
.coverage
/build
*.csv
*.json
*.hjson
slurm_job
slurm_jobs
tmp
.unison.*

# papermilled jupyter notebooks
zz-*
*.jobout
*.joberr
